@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("/assets/fonts/Helvetica.woff") format("woff");
}

:root {
  --bacground-color: #0d1117;
  --mute-color: #b7b8ba;

  --green: #3fb950;
  --ligh-pink: #d3a5fe;
  --dark-pink: #f778ba;
  --blue: #33b3ae;
  --purple: #7c72ff;
}

body {
  margin: 0;
  background-color: var(--bacground-color);
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    "Helvetica", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

nav {
  width: 78vw;
  display: flex;
  padding: 1vw 1vw;
  padding-left: 20vw;
  gap: 2vw;

  a {
    color: white;
    text-decoration: none;
  }

  div:hover {
    color: var(--mute-color);
    cursor: pointer;
  }

  div {
    padding: 1vw;
  }
}
